.nav_bar {
  background-color: var(--blue-main-color);
  width: 100%;
  position: relative;
}

.visually-hidden {
  display: none;
}

.nav_bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 105px;
  padding: 12px;
  position: relative;
}

.nav_bar__back_button {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: calc(var(--font-size-base) + 18px);
  position: absolute;
  left: 15px;
  z-index: 10;
  font-weight: bold;
}

.nav_bar__title {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.hamburger_button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger_button .button__bar {
  display: flex;
  width: calc(var(--font-size-base) + 18px);
  height: calc(var(--font-size-base) - 13px);
  margin: 8px auto;
  background-color: var(--white-text-color);
  border-radius: 2px;
}

/* Todo: Add media queries to improve layout */
