.splash_page {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
  padding: 180px 15px 0 15px;
}

.splash_page__container {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.splash_page__title {
  color: var(--gray-text-color);
  margin-bottom: 150px;
  font-size: calc(var(--font-size-base) + 14px);
}

.splash_page__buttons {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash_page__login-button,
.splash_page__signup-button {
  display: block;
  margin: 10px auto;
  color: var(--white-text-color);
  background-color: var(--blue-main-color);
  border: 2px solid var(--blue-main-color);
  padding: 17px 25px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.splash_page__signup-button {
  color: var(--gray-text-color);
  background-color: transparent;
  border: 2px solid transparent;
}

.splash_page__login-button:hover,
.splash_page__signup-button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--white-text-color);
  color: var(--blue-main-color);
  border: 2px solid var(--green-second-color);
}

@media (min-width: 361px) {
  .splash_page__title {
    font-size: calc(var(--font-size-base) + 16px);
  }
}

@media (min-width: 481px) {
  .splash_page__title {
    font-size: calc(var(--font-size-base) + 20px);
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 95%;
    padding: 19px 24px;
    font-size: calc(var(--font-size-base) + 1px);
  }
}

@media (min-width: 600px) {
  .splash_page__title {
    font-size: calc(var(--font-size-base) + 24px);
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 90%;
    padding: 21px 26px;
    font-size: calc(var(--font-size-base) + 2px);
  }
}

@media (min-width: 769px) {
  .splash_page__title {
    font-size: calc(var(--font-size-base) + 34px);
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 80%;
    padding: 22px 27px;
    font-size: calc(var(--font-size-base) + 3px);
  }
}

@media (min-width: 992px) {
  .splash_page {
    justify-content: center;
    padding: 220px 15px 50px 15px;
  }

  .splash_page__container {
    max-width: 750px;
  }

  .splash_page__title {
    font-size: calc(var(--font-size-base) + 43px);
    margin-bottom: 150px;
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 70%;
    padding: 23px 28px;
    font-size: calc(var(--font-size-base) + 4px);
  }
}

@media (min-width: 1400px) {
  .splash_page__container {
    max-width: 1100px;
  }

  .splash_page__title {
    font-size: calc(var(--font-size-base) + 50px);
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 50%;
    padding: 25px 29px;
    font-size: calc(var(--font-size-base) + 5px);
  }
}

@media (min-width: 1600px) {
  .splash_page__container {
    max-width: 1300px;
  }

  .splash_page__title {
    font-size: calc(var(--font-size-base) + 68px);
  }

  .splash_page__login-button,
  .splash_page__signup-button {
    width: 48%;
    padding: 26px 31px;
    font-size: calc(var(--font-size-base) + 6px);
  }
}

@media only screen and (orientation: landscape) and (min-width: 0) {
  .splash_page {
    padding: 180px 15px 100px 15px;
  }

  .splash_page__title {
    margin-bottom: 50px;
  }
}
