/* Session - login */
.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.login_page__container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 100%;
}

.login_page__title {
  color: var(--gray-text-color);
  font-size: calc(var(--font-size-base) + 18px);
  margin: 18px 0;
}

.login_page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form__fields--email,
.login_form__fields--password {
  width: 100%;
}

.login_form__field_email--field,
.login_form__field_password--field {
  padding: 16px 17px;
  width: 100%;
  border: none;
  margin: 1px 0;
}

.login_form__check_box--remember {
  margin-top: 16px;
  margin-bottom: 12px;
  color: var(--gray-text-color);
}

.login_form__submit--button {
  margin: 10px 0;
  padding: 13px 20px;
  background-color: var(--blue-main-color);
  border: 2px solid var(--blue-main-color);
  color: var(--white-text-color);
  font-size: calc(var(--font-size-base) + 1px);
  width: auto;
  min-width: 140px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.login_form__submit--button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--white-text-color);
  color: var(--blue-main-color); 
  border: 2px solid var(--green-second-color);
}

.login_page__shared_link {
  text-decoration: none;
  color: var(--gray-text-color);
  display: inline-block;
  margin: 8px 0;
  transition: color 0.3s;
}

.login_page__shared_link--login:hover,
.login_page__shared_link--signup:hover,
.login_page__shared_link--forgot-password:hover,
.login_page__shared_link--confirmation:hover,
.login_page__shared_link--unlock:hover {
  color: var(--black-color);
}
