/* Session - login */
.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.login_page__container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 100%;
}

.login_page__title {
  color: var(--gray-text-color);
  font-size: calc(var(--font-size-base) + 18px);
  margin: 18px 0;
}

.login_page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form__fields--email,
.login_form__fields--password {
  width: 100%;
}

.login_form__field_email--field,
.login_form__field_password--field {
  padding: 16px 17px;
  width: 100%;
  border: none;
  margin: 1px 0;
}

.login_form__check_box--remember {
  margin-top: 16px;
  margin-bottom: 12px;
  color: var(--gray-text-color);
}

.login_form__submit--button {
  margin: 10px 0;
  padding: 13px 20px;
  background-color: var(--blue-main-color);
  border: 2px solid var(--blue-main-color);
  color: var(--white-text-color);
  font-size: calc(var(--font-size-base) + 1px);
  width: auto;
  min-width: 140px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.login_form__submit--button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--white-text-color);
  color: var(--blue-main-color); 
  border: 2px solid var(--green-second-color);
}

.login_page__shared_link {
  text-decoration: none;
  color: var(--gray-text-color);
  display: inline-block;
  margin: 8px 0;
  transition: color 0.3s;
}

.login_page__shared_link--login:hover,
.login_page__shared_link--signup:hover,
.login_page__shared_link--forgot-password:hover,
.login_page__shared_link--confirmation:hover,
.login_page__shared_link--unlock:hover {
  color: var(--black-color);
}

/* sign-up page*/
.signup_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.signup_page__container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  width: 100%;
}

.signup_page__title {
  color: var(--gray-text-color);
  font-size: calc(var(--font-size-base) + 18px);
  margin: 19px 0;
}

.signup_page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_form__container--avatar {
  overflow: scroll;
  width: auto;
  max-width: 285px;
  display: flex;
}

.signup_form__radio--button {
}

.signup_form__label--avatar {

}

.signup_form__image--avatar {
  width: 45px;
  margin: 3px;
  padding: 1px;
}

.signup_form__title--avatar {
  color: var(--gray-text-color);
  font-size: calc(var(--font-size-base));
  margin: 0;
}

.signup_form__fields--name,
.signup_form__fields--email,
.signup_form__fields--password {
  width: 100%;
}

.signup_form__field_name--field,
.signup_form__field_email--field,
.signup_form__field_password--field,
.signup_form__field_email--field {
  padding: 16px 17px;
  width: 100%;
  border: none;
  margin: 1px 0;
}

.signup_form__submit--button {
  margin: 10px 0;
  padding: 13px 20px;
  background-color: var(--blue-main-color);
  border: 2px solid var(--blue-main-color);
  color: var(--white-text-color);
  font-size: calc(var(--font-size-base) + 1px);
  width: auto;
  min-width: 140px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.signup_form__submit--button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--white-text-color);
  color: var(--blue-main-color); 
  border: 2px solid var(--green-second-color);
}

/* Media queries */
@media (min-width: 361px) {
  .login_form__field_email--field,
  .login_form__field_password--field {
    padding: 17px 18px;
  }
}

@media (min-width: 481px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 20px);
  }

  .login_form__fields--email,
  .login_form__fields--password {
    width: 90%;
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    padding: 19px 20px;
    font-size: calc(var(--font-size-base) + 3px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 1px);
  }

  .login_form__submit--button {
    font-size: calc(var(--font-size-base) + 2px);
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 1px);
  }
}

@media (min-width: 600px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 23px);
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    font-size: calc(var(--font-size-base) + 4px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 2px);
  }

  .login_form__submit--button {
    padding: 14px 21px;
    font-size: calc(var(--font-size-base) + 3px);
    min-width: 142px;
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 2px);
  }
}

@media (min-width: 769px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 22px);
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    font-size: calc(var(--font-size-base) + 5px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 3px);
  }

  .login_form__submit--button {
    padding: 14px 21px;
    font-size: calc(var(--font-size-base) + 4px);
    min-width: 146px;
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 3px);
  }
}

@media (min-width: 992px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 23px);
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    font-size: calc(var(--font-size-base) + 7px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 4px);
  }

  .login_form__submit--button {
    padding: 14px 21px;
    font-size: calc(var(--font-size-base) + 5px);
    min-width: 148px;
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 4px);
  }
}

@media (min-width: 1400px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 24px);
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    font-size: calc(var(--font-size-base) + 8px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 5px);
  }

  .login_form__submit--button {
    font-size: calc(var(--font-size-base) + 6px);
    min-width: 150px;
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 5px);
  }
}

@media (min-width: 1600px) {
  .login_page__title {
    font-size: calc(var(--font-size-base) + 26px);
  }

  .login_form__field_email--field,
  .login_form__field_password--field {
    font-size: calc(var(--font-size-base) + 10px);
  }

  .login_form__check_box--remember {
    font-size: calc(var(--font-size-base) + 6px);
  }

  .login_form__submit--button {
    font-size: calc(var(--font-size-base) + 7px);
    min-width: 153px;
  }

  .login_page__shared_link {
    font-size: calc(var(--font-size-base) + 6px);
  }
}
